body, html{
    margin: 0;
    display: grid;
    justify-items: center;
}
footer {
    display: grid;
    justify-items: center;
}

html{
    background: url("/images/bckgrnd.jpg") repeat center 0;
}
.container{
    display: grid;
    background: white;
    width: 50%;
    border-radius: 10px;
    margin-top: 40px;
}
.name, .file_form{
    text-align: left;
    margin-bottom: 30px;
}
.img-1{
    max-width: 100%;
    margin-left: 20px;
    height: auto;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 70px;
    padding: 30px;
}

.block{
    border: solid 3px #0d6bb3;
    font-family: Calibri;
    font-size: 20px;
}
.fl_upld{
    vertical-align: top;
}
#fl_inp{
    display:none;
}
.fl_upld label{
    width: 281px;
    height: 76px;
    padding: 27px 140px;
    border-radius:3px;
    font-family: Calibri;
    background: url("/images/load.png");
    text-align: center;
    transition: 0.2s linear;
    margin-right: 60px;
}
.fl_upld label:hover{
    opacity: 50%;
}
#fl_nm{
    padding: 10px 0;
    color: gray;
}
.send{
    position: relative;
    width: 281px;
    height: 76px;
    font-family: Calibri;
    background: url("/images/send.png");
    border: none;
    transition: 0.2s linear;
}
.send:hover{
    opacity: 50%;
}
.instruction{
    position: relative;
    font-family: Calibri;
    color: #0d6bb3;
    margin-left: 40px;
    font-size: 30px;
    bottom: 7px ;
}
#img_1{
    margin-left: 10px;
}
.errors{
    font-family: Calibri;
    font-size: xx-large;
    color: #0d6bb3;
    margin-left: 10%    ;
}
.manual{
    margin-bottom: 30px;
}
.description{
    font-family: Calibri;
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 30px;
    text-align: left;
}

.text{
    height: 600px;
    width: 80%;
    font-size: 20px;
    background: #dfe5e5;
    border-radius: 10px;
}


